<section id="home-splash" class="local301-main-container__full-height container-opacity-bg">
<div class="clearfix -medium-lpl -medium-up-xxlpt -large-up-xlpl" role="main">

<h2>Amenities</h2>

<ul>
<li>Espresso Machine</li>
<li>ScootScoot, the Honda Ruckus</li>
<li>Photography equipment</li>
<li>Guitar</li>
</ul>
</div>
</section>