<h1>Brainstorm</h1>

<h2>A new way to overcome challenges.</h2>

<p>Local 301 is a diverse group of people that love to solve problems- and we invite individuals, startups, and organizations to come in for a brainstorm with our talented members. 
Learning and solving new challenges helps us gain experience, stay sharp, and create real value. Plus, it's fun!</p>

<hr/>

<p>First, Propose a brainstorm!  It can be any challenge you face that needs a little, or a lot of brainpower and some new perspective.</p>

<p>Next, We share it with our community, find people passionate about helping, and set up a time to collaborate.</p>

<p>During our brainstorm, we get out-of-the-box and into the core of what it is you want to accomplish and how you could pursue it.</p>

<p>Unlike many meetings, this isn’t just talk. We like to get active and work in the meeting, and often make partner introductions or create actual changes while we brainstorm.  
Local 301 brainstorms create an environment of creativity both for our members and your team to push the boundaries of what you’ve considered before.</p>

<p>At The Local 301, We do brainstorming sessions on a donate-what-you-value basis. No payment is required, but after the brainstorm we invite participants to make a donation to reciprocate the value you receive. </p>

<p>After the brainstorm, we aggregate the ideas from the meeting and send them to you along with actionable next-steps and suggestions. </p>

</p>Oftentimes, one or more Local 301 members want to continue to stay involved with the challenge. We’re happy to help facilitate the connection, and are open to continued ideation or strategy meetings.

