<section id="home-splash" class="local301-main-container__full-height container-opacity-bg">
<div class="clearfix -medium-lpl -medium-up-xxlpt -large-up-xlpl" role="main">

<h2>Contact Us</h2>
<!--
            <p>We're on <a href="http://www.twitter.com/Local301" target="_blank">Twitter</a> and 
            <a href="http://www.facebook.com/Local301" target="_blank">Facebook</a>
            </p>
            -->
            <p><a href="https://www.google.com/maps/place/301+Chicon+St,+Austin,+TX+78702">301 Chicon St<br/> Austin, TX 78702</a></p>
            <p><i class="icon-phone"></i> (404) 500-8380 
            <br /><i class="icon-envelope"></i> <a href="mailto:hi@local301.org">hi@local301.org</a>
            </p>

 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3446.2299535126594!2d-97.72350469999999!3d30.25902859999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644b5b43badd2bf%3A0xff2d9c6b25145048!2s301+Chicon+St%2C+Austin%2C+TX+78702!5e0!3m2!1sen!2sus!4v1411493120285" width="400" height="300" frameborder="0" style="border:0"></iframe>

</div>
</section>