
            
            <section id="home-splash" class="local301-main-container__full-height container-opacity-bg -small-lpt -medium-up-xlpt">
                <div class="clearfix -medium-lpl -medium-up-xxxlpt -large-up-xlpl" role="main">
                    <div class="small-12 medium-10 large-8 columns">                        
                        <p class="t-intro -xlmb">
                        The old depot at 3rd and chicon,<br/>
                        now mad with lovers and fighters,<br/>
                        saints and transgressors,<br/>
                        lemon shandys and burnt-ends,<br/>
                        chasing the dirty crown down fourth,<br/>
                        boarding the midnight transcontinental,<br/>
                        not sure where we're going,<br>
                        or when we're coming back,<br/>
                        but if we ever make it, Dad's gonna say<br/>
                        good job, son.<br/> good job.
                        </p>
                        <hr/>
                        <h4>Join our email list</h4>
                        
<!--
                        <a href="" class="large button local301-button -small-xlmb -medium-up-xxxlmb">
                            Enlist
                        </a>
                        -->
                    </div>
                    
                    <div class="small-12 medium-10 large-8 columns">
                      <%= form_for(Member.new, :url => email_signup_members_path, :remote => true, "data-abide" => "data-abide") do |f| %>
                          <label>
                              Name
                              <%= f.text_field :name, "required pattern" => "[a-zA-Z]+" %>
                          </label>

                          <label>
                              Email
                              <%= f.text_field :email, "required" => "required" %>
                          </label>

                          <%= f.submit "Pump that", :class => "button -primary-bg" %>
                      <% end %>
                    </div>
                    
                    <div class="small-12 columns -mb -smt">
                        301 Chicon, Austin, Texas. 78702
                    </div>

                </div>
            </section>
