<h1>Mission</h1>

<h2>East Austin. Christmas Day, 1871</h2>

<p>
The entire town has shown up to welcome the first train to Austin. Women in hoop skirts, cowboys stumbling piss-drunk from bar to bar, the city swelling with folks from far-flung little towns like Smithville and Round Rock. The bands play, 5th street swells. Vendors hawk fruit, and cakes, and fruitcakes.
</p>
<p>
But the train stalled just outside of town. Then a drizzle began to fall. The afternoon waned. People went home or ran for cover. 
</p>
<p>
But the men from the Houston & Texas Central didn't stop working, they finished laying the final rails then hastily constructed the new train platform - six planks and a dozen cinder blocks.
</p>
<p>
Then just before dusk, the whistle strained, the bright light blasted down 5th street.
</p>
<p>
When the railroad arrived in Austin it seemed to change everything. The population would double within five years, from 5,000 to 10,000 residents. 
</p>