@font-face {
  font-family: 'SourceSansPro-ExtraLight';
  src:  url(asset-path("fonts/SourceSansPro-ExtraLight/SourceSansPro-ExtraLight.eot?#iefix")) format('embedded-opentype'),  
      url(asset-path("fonts/SourceSansPro-ExtraLight/SourceSansPro-ExtraLight.otf"))  format('opentype'),
      url(asset-path("fonts/SourceSansPro-ExtraLight/SourceSansPro-ExtraLight.woff")) format('woff'), 
      url(asset-path("fonts/SourceSansPro-ExtraLight/SourceSansPro-ExtraLight.ttf"))  format('truetype'), 
      url(asset-path("fonts/SourceSansPro-ExtraLight/SourceSansPro-ExtraLight.svg#SourceSansPro-ExtraLight")) format('svg');
  font-weight: normal;
  font-style: normal;
}