            <section id="home-splash" class="local301-main-container__full-height container-opacity-bg -small-lpt -medium-up-xlpt">
                <div class="clearfix -medium-lpl -medium-up-xxxlpt -large-up-xlpl" role="main">
                    <div class="small-12 medium-10 large-8 columns">                        

<h1>Thank ya.</h1>

<p>
We'll be in touch shortly.
</p>

</div>
</div>
</section>