<h1>Join the Fight</h1>

<div class="row">
  <div class="large-6 columns">
    <%= image_tag "prole.jpg" %>
    <h2>Prole</h2>
    $50/mo
    <ul>
      <li>Wifi and office stuff</li>
      <li>Hot coffee</li>
      <li>Use of event space</li>
      <li>Volunteer 4 hours a month</li>
    </ul>
  </div>
  <div class="large-6 columns">
    <%= image_tag "bougie.jpg" %>
      <h2>Bougie</h2>
      $200+/mo includes basic features, PLUS
      <ul>
        <li>Reserved Desk</li>
        <li>Conference Room Reservations</li>
        <li>24-Hour Access</li>
      </ul>
  </div>
</div>


Members of the Local 301 may be entrepreneurs, freelance professionals, full-time employees, students... anyone who wants to do what they love, make a difference and have fun doing it.

To become a member, please fill out our simple application and we'll invite you in to meet with the team and learn more about each other.

<%= render 'form' %>

